<div class="jumbotron center">
    <h1>Welcome to my Pin app</h1>
    <p>getting started here</p>
    <%= link_to 'Login',  new_user_session_path, class:'btn btn-primary' %>
    <%=link_to 'Sign Up',new_user_registration_path, class:'btn btn-success' %>
</div>

<div id="pins" class="transitions-enabled masonry-brick">
    
		<div class="row">
		<% @pins.each do |pin| %>
  			<div class="col-sm-6 col-md-4 box">
    			<div class="thumbnail">
			
					<%=link_to image_tag(pin.image.url(:medium)),pin  %>
					<div class="caption">
						<p><%= pin.description %></p>
						<p>By: <%= pin.user.name if pin.user %></p>
					</div>
				</div>
			</div>
		<% end %>
		</div>

    
</div>
<div class="center">
	<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>